<div class="card mb-4">
  <div class="card-body bg-light">
    <img class="img-thumbnail float-right" *ngIf="book.firstThumbnailUrl"
      [src]="book.firstThumbnailUrl" width="100">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary" data-testing-id="ratingBox">{{ book.rating }}</span>
      </h2>

      <span *ngFor="let r of getStars()">*</span>
      
      <p>
        {{ book.description }}
      </p>

      {{ log() }}

      <p>Preis: {{ book.price }}</p>

      <button class="btn btn-secondary mr-2" data-testing-id="rateUpBtn" (click)="rateUp()">+</button>
      <button class="btn btn-secondary mr-2" (click)="rateDown()">–</button>
    </div>
  </div>
</div>